// ----- ----- ----- ----- ----- ----- -----
// Colors
// ----- ----- ----- ----- ----- ----- -----
$headerGrey: #d9d9d9;
$textWhite: #f2f2f2;
$lightBlue: #87D5FF;

// ----- ----- ----- ----- ----- ----- -----
// Fonts
// ----- ----- ----- ----- ----- ----- -----
$futuraBold: "'futurabd', Trebuchet, sans-serif";