/* cKelly Design Redesign - 2013 */

body {
	background-color: #1a1a1a;
	line-height: 0;
}

/* --- Section Headers --- */
.section-header {
	margin-bottom: 48px;
	display: inline-block;

	.one-third.column {
		background-color: #808080;
		position: relative;

		div {
			margin: 4px;
			background: $darkTextureBG;
			height: 28px;
		}

		// Central Column
		&.title {
			background-color: transparent;

			h2 {
				text-align: center;
				font-family: 'boogie', Trebuchet, sans-serif;
				color: #87D5FF;
				font-size: 64px;
				line-height: 49px;

				@media only screen and (max-width: 959px) {
					font-size: 50px;
				}
				@media only screen and (max-width: 479px) {
					font-size: 36px;
					line-height: 36px;
				}
			}

			
			&:before {
				@media only screen and (max-width: 767px) {
					content: '';
					height: 0px;
					width: 0px;
					border-width: 18px 0 18px 36px;
					border-style: solid;
					border-color: transparent transparent transparent #808080;
					position: absolute;
					left: 0;
					top: 8px;
				}
				@media only screen and (max-width: 479px) {
					border-width: 12px 0 12px 24px;
				}
			}

			&:after {
				@media only screen and (max-width: 767px) {
					content: '';
					height: 0px;
					width: 0px;
					border-width: 18px 36px 18px 0px;
					border-style: solid;
					border-color: transparent #808080 transparent transparent;
					position: absolute;
					right: 0;
					top: 8px;
				}
				@media only screen and (max-width: 479px) {
					border-width: 12px 24px 12px 0;
				}
			}
		}

		// Alpha Column
		&:first-of-type {
			@media only screen and (max-width: 767px) {
				display: none;
			}
			@media only screen and (min-width: 768px) {
				&:after {
					content: '';
					height: 0;
					width: 0;
					position: absolute;
					top: 0;
					right: 0;
					border-left: 36px solid transparent;
					border-right: 0px solid transparent;
					border-top: 72px solid #808080;
				}
			}
		}

		// Omega Column
		&:last-of-type {
			@media only screen and (max-width: 767px) {
				display: none;
			}
			@media only screen and (min-width: 768px) {
				&:after {
					content: '';
					height: 0;
					width: 0;
					position: absolute;
					top: 0;
					left: 0;
					border-right: 36px solid transparent;
					border-left: 0px solid transparent;
					border-top: 72px solid #808080;
				}
			}
		}
	}
}

/* --- end Section Headers --- */


/* --- start About Section --- */


#about-container {
	padding: 125px 0 72px;

	@media only screen and (max-width: 767px) {
		padding: 72px 0;
	}

	blockquote {
		font: 32px/44px 'futurabk', Trebuchet, sans-serif;
		font-style: italic;
		color: #efefef;
		margin: 0 85px;
	  padding: 0;
	  border-left: none;
	  text-align: center;

	  @media only screen and (max-width: 959px) {
	  	margin: 100px 50px;
			font-size: 28px;
			line-height: 40px;
	  }
	  @media only screen and (max-width: 767px) {
	  	margin: 72px 18px 36px;
			font-size: 24px;
			line-height: 36px;
	  }
	  @media only screen and (max-width: 479px) {
			margin: 36px 0px 12px;
			font-size: 21px;
			line-height: 30px;
	  }
	}
}

/* Highlights */

#highlights-container {
	h3 {
		font-family: 'futurabk', Trebuchet, sans-serif;
		font-style: normal;
		font-weight: lighter;
		font-size: 28px /* 30px */;
		color: #87D5FF;

		@media only screen and (max-width: 959px) {
			font-size: 24px;
		}
		@media only screen and (max-width: 767px) {
			text-align: center;
		}
	}
	p {
		font-size: 13px;
	}
	.column {
		position: relative;
	}
}

.highlight-list {
	padding-left: 18px;
	position: relative;
	margin-bottom: 0;

	li {
		font-family: 'futurabk', Trebuchet, sans-serif;
		font-size: 16px;
		margin-bottom: 16px;
		position: relative;
		margin-left: 10px;

		&:before {
			content: '';
			height: 0px;
			width: 0px;
			border-color: transparent transparent transparent #87D5FF;
			border-style: solid;
			border-width: 6px 0 6px 12px;
			position: absolute;
			left: -18px;
			top: 4px;
			position: absolute;
			display: block;
		}
	}
}

#InnDev {
	border-left: 1px solid #87D5FF;
	border-right: 1px solid #87D5FF;
	margin: 0;
	padding: 0 20px;
	width: 292px;
	height: 250px;

	@media only screen and (max-width: 959px) {
		width: 225px;
		height: 300px;
	}
	@media only screen and (max-width: 767px) {
		width: 420px;
		padding: 20px 0 0;
		margin: 0;
		height: auto;
		border-right: none;
		border-left: none;
		border-top: 1px solid #87D5FF;
		border-bottom: 1px solid #87D5FF;
	}
	@media only screen and (max-width: 479px) {
		width: 300px;
	}
}

#ImpDes {
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	width: 292px;

	@media only screen and (max-width: 959px) {
		width: 225px;
	}
	@media only screen and (max-width: 767px) {
		width: 420px;
		padding: 20px 0 0;
		margin: 0;
		border-top: 1px solid #87D5FF;
	}
	@media only screen and (max-width: 479px) {
		width: 300px;
	}
}

#IdCamp {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	width: 292px;

	@media only screen and (max-width: 959px) {
		width: 225px;
	}
	@media only screen and (max-width: 767px) {
		width: 420px;
		padding: 20px 0 0;
		margin: 0;
		border-bottom: 1px solid #87D5FF;
	}
	@media only screen and (max-width: 479px) {
		width: 300px;
	}
}


/* ---------- Gallery ---------- */
#projects-container {
	padding: 72px 0;
}
// #fancy-hide {
// 	display: none;
// }
.galleryList {
	display: inline-block;

	li {
		background-color: #808080;

		a {
			line-height: 0;

			.thumbWrap {
				width: auto;
				margin: 4px;
				position: relative;

				.spanWrap {
					display: block;
					position: absolute;
					width: auto;
					height: auto;
				}
				&:hover {
					span {
						display: block;
					}
				}
			}

			span {
				display: none;
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: $spanWrapBGimg;
				box-shadow: 1px 1px 0px #999999;
				-webkit-box-shadow: 1px 1px 0px #999999;
				-moz-box-shadow: 1px 1px 0px #999999;
				line-height: 30px;
				text-align: center;
				font-family: 'futuralt', Trebuchet, sans-serif;
				font-size: 24px;
				color: #87D5FF;
				text-shadow: -1px -1px 0px #000000;
				-webkit-text-shadow: -1px -1px 0px #000000;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		@media only screen and (max-width: 767px) {
			margin-bottom: 20px !important;
		}
	}
}

.fancy-gallery-header {
	font-style: normal;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'futuralt', Trebuchet, sans-serif;
}

.fancy-gallery-highlights {
	li {
		list-style:circle outside none;
		color: #87D5FF;

		h6 {
			color: #87D5FF;
			font-family: 'futuralt', Trebuchet, sans-serif;
			line-height: 21px;
			font-weight: normal;
			font-style: normal;
		}
	}
}

.fancy-gallery-image {
	margin-bottom: 20px;

	img {
		max-height: 100%;
		max-width: 100%;
	}
}

/* ---------- Contact Section ---------- */
#contact-container {
	padding-bottom: 72px;
}
.contactpar p {
	font-family: "futuralt", Trebuchet, sans-serif;;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 30px;

	&.blue {
		text-align: center;
	}

	br {
			@media only screen and (max-width: 959px) {
				display: none;
			}
	}

	@media only screen and (max-width: 767px) {
		font-size: 24px;
    line-height: 30px;
	}
}
#contact-form {
	background: $contactFormBG;

	h3 {
		text-align: center;
		margin: 21px 0 18px;
	}

	form {
		padding-top: 20px;
	}

	input[type=text],
	textarea {
		background: rgba(0,0,0,.5);
		box-shadow: inset 5px 5px 0 0 rgba(0,0,0,.5);
		-webkit-box-shadow: inset 5px 5px 0 0 rgba(0,0,0,.5);
		color: #efefef;
		border: 1px solid;
		border-color: #111111 #666666 #666666 #111111;
		border-radius: 0px;
		width: 94%;

		&.invalid {
			background-color: rgba(180,0,0,.5);
		}

		@media only screen and (max-width: 959px) {
			width: 92.5%;
		}
		@media only screen and (max-width: 767px) {
			margin-left: 11px;
		}
		@media only screen and (max-width: 479px) {
			width: 89.75%;
		}
	}

	textarea {
		resize: vertical;
	}

	input[type=submit] {
		font-family: 'futurabk', Trebuchet, sans-serif;
		font-weight: lighter;
		border-radius: 0px;
		color: #FFFFFF;
		font-size: 21px;
		line-height: 36px;
		text-shadow: -1px -1px #595959;
		-webkit-text-shadow: -1px -1px #595959;

		margin: 3px;
		display: block;
		width: 95%;
		padding-top: 5px;
		border: 3px solid #808080;
		
		box-shadow: 0 0 2px 0px #000000 inset;
		-webkit-box-shadow: 0 0 2px 0px #000000 inset;

		background: #3d95c6; /* Old browsers */	
		background-image: url(../images/navaBG.jpg);
		background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* W3C */
		background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,   rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* FF3.6+ */
		background-image: url("../images/navaBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.33))); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* Chrome10+,Safari5.1+ */
		// background-image: -o-linear-gradient(top,  rgba(0,0,0,0 0%) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* Opera 11.10+ */
		background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* IE10+ */
		background-image: url("../images/navaBG.jpg")\9;

		&:hover,
		&:focus,
		&:active {
			background: #3d95c6; /* Old browsers */	
			background-image: url(../images/navaBG.jpg);
			background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* W3C */
			background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,   rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* FF3.6+ */
			background-image: url("../images/navaBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.15))); /* Chrome,Safari4+ */
			background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* Chrome10+,Safari5.1+ */
			// background-image: -o-linear-gradient(top,  rgba(0,0,0,0 0%) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* Opera 11.10+ */
			background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* IE10+ */
			background-image: url("../images/navaBG.jpg")\9;
		}

		@media only screen and (max-width: 959px) {
			margin: 0 !important;
		}
		@media only screen and (max-width: 767px) {
			margin: 0 0 18px 10px !important;
		}
		@media only screen and (max-width: 479px) {
			width: 93%;
		}
	}

}

// .fancybox-close {
// 	right: 50%;
// 	margin-right: -512px;
// }