<header id="header-container" class="container">
	<nav id="mobNav" class="sixteen columns alpha omega">
		<ul>
			<li class="four columns alpha"><a href="#">Section 1</a></li>
			<li class="four columns"><a href="#">Section 2</a></li>
			<li class="four columns"><a href="#">Section 3</a></li>
			<li class="four columns omega"><a href="#">Section 4</a></li>
		</ul>
	</nav>

	<div class="sixteen columns alpha" id="logo-container">
		<a href="">
			<div id="logo-body" class="landed">
				
			</div> <!-- end logo container -->
		</a>
		<img src="/assets/images/Hawking_Quote.png" class="quote six columns">
	</div>
	<nav id="deskNav" class="sixteen columns alpha omega">
		<ul> 
			<li class="logo">
				<a id="stt-logo" href="/">
					<span>cKelly Design</span>
				</a>
			</li> 
			<li class="one-third column alpha"><a class="about" href="#">About</a></li>
			<li class="one-third column"><a class="projects" href="#">Projects</a></li>
			<li class="one-third column omega"><a class="contact" href="#">Contact</a></li>
		</ul>
	</nav>
</header>