<header id="header-container" class="container">
	<div class="sixteen columns alpha" id="logo-container">
		<a href="">
			<div id="logo-body" class="landed">
				
			</div> <!-- end logo container -->
		</a>
		<img src="/assets/images/Hawking_Quote.png" class="quote six columns">
	</div>
	<nav id="nav" class="sixteen columns alpha omega sitewide-nav j-nav">
		<ul class="nav-list"> 
			<li id="logo-link" class="logo">
				<a id="stt-logo" href="/">
					<span>cKelly Design</span>
				</a>
			</li> 
			<li class="one-third column alpha nav-item">
				<a id="about-link" class="nav-link" href="#">About</a>
			</li>
			<li class="one-third column nav-item">
				<a id="projects-link" class="nav-link" href="#">Projects</a>
			</li>
			<li class="one-third column omega nav-item">
				<a id="contact-link" class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</nav>
</header>