<div class="sixteen columns window-gallery collapsed">
	<nav class="sixteen columns">
		<ol class="window-gallery-nav">
			{{#each gallery}}
			<li class="gallery-nav-item three columns">
				<a href="/assets/images/{{fullRes}}" target="_blank">
					<img src="/assets/images/{{thumb}}">
				</a>
			</li>
			{{/each}}
		</ol>
		<i class="scrollThumbsBut Left"></i>
		<i class="scrollThumbsBut Right"></i>
	</nav>
	
	<div class="fancy-img sixteen columns">
		<ul class="slides">
			{{#each gallery}}
			<li>
				<a href="/assets/images/{{fullRes}}" target="_blank">
					<img src="/assets/images/{{gal}}">
				</a>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
<i class="project-window-close-btn"></i>