
	<span class="area">
	<h4 class="fancy-gallery-header sixteen columns">{{title}}{{!-- nbcnews.com --}}</h4>
	
	<div class="four columns fancy-gallery-desc">
		<p>I worked on the highly agile NBC UX Team and provided Front End development to launch nbcnews.com. While I contributed to the progressively enhancing "Premium Experience", I took on the major role of re-devolping the gracefully degrading "Baseline Experience" to ensure compatibility among legacy browsers.</p>
	</div>
	
	<ul class="four columns fancy-gallery-highlights">
		<li><h6>UI/UX</h6></li>
		<li><h6>GitHub</h6></li>
		<li><h6>Agile Workflow</h6></li>
		<li><h6>Browser Compatibility</h6></li>
		<li><h6>Responisve Design</h6></li>
	</ul>
	
	<div class="eight columns fancy-gallery-image">
		<img src="images/galThumbs/nbcnews-feat.jpg" />
	</div>
	
	</span> <!-- end toggleSlide area -->
	
	<div class="sixteen columns omega fancy-gallery-filmstrip collapsed">
		<div class="gallery-plugin-container">
			<ol class="thumbs sixteen columns flex-control-nav flex-control-paging">
				<li class="three columns">
					<a href="images/galThumbs/nbcnews-1.jpg" target="_blank">
						<img src="images/galThumbs/nbcnews-thumb1.jpg">
					</a>
				</li>
				<li class="three columns">
					<a href="images/galThumbsnbcnewsc-2.jpg" target="_blank">
						<img src="images/galThumbs/nbcnews-thumb2.jpg">
					</a>
				</li>
				<li class="three columns">
					<a href="images/galThumbs/nbcnews-3.jpg" target="_blank">
						<img src="images/galThumbs/nbcnews-thumb3.jpg">	
					</a>						
				</li>
				<li class="three columns">
					<a href="images/galThumbs/nbcnews-4.jpg" target="_blank">
						<img src="images/galThumbs/nbcnews-thumb4.jpg">			
					</a>					
				</li>
				<li class="three columns">
					<a href="images/galThumbs/nbcnews-5.jpg" target="_blank">
						<img src="images/galThumbs/nbcnews-thumb5.jpg">
					</a>				
				</li>
				<li class="three columns">
					<a href="images/galThumbs/nbcnews-6.jpg" target="_blank">
						<img src="images/galThumbs/nbcnews-thumb6.jpg">
					</a>				
				</li>
				<li class="three columns">
					<a href="images/galThumbs/nbcnews-7.jpg" target="_blank">
						<img src="images/galThumbs/nbcnews-thumb7.jpg">
					</a>				
				</li>
			</ol>
			<a href="#"  class="scrollThumbsBut Left"></a>
			<a href="#" class="scrollThumbsBut Right"></a>
			<div class="fancy-img sixteen columns">
				<ul class="slides">
					<li>
						<a href="images/galThumbs/nbcnews-1.jpg" target="_blank">
							<img src="images/galThumbs/nbcnews-gal1.jpg">
						</a>
					</li>
					<li>
						<a href="images/galThumbs/nbcnews-2.jpg" target="_blank">
							<img src="images/galThumbs/nbcnews-gal2.jpg">
						</a>
					</li>
					<li>
						<a href="images/galThumbs/nbcnews-3.jpg" target="_blank">
							<img src="images/galThumbs/nbcnews-gal3.jpg">
						</a>
					</li>
					<li>
						<a href="images/galThumbs/nbcnews-4.jpg" target="_blank">
							<img src="images/galThumbs/nbcnews-gal4.jpg">
						</a>
					</li>
					<li>
						<a href="images/galThumbs/nbcnews-5.jpg" target="_blank">
							<img src="images/galThumbs/nbcnews-gal5.jpg">
						</a>
					</li>
					<li>
						<a href="images/galThumbs/nbcnews-6.jpg" target="_blank">
							<img src="images/galThumbs/nbcnews-gal6.jpg">
						</a>
					</li>
					<li>
						<a href="images/galThumbs/nbcnews-7.jpg" target="_blank">
							<img src="images/galThumbs/nbcnews-gal7.jpg">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>