<li class="four columns">
	<a class="galThumb" href="/projects/{{slug}}" data-project-slug="{{slug}}">
		<div class="thumbWrap">
			<div class="hoverWrap">
				<span>{{title}}</span>
			</div>
			<img src="/assets/images/{{mainImage.lowRes}}">
		</div>
	</a>
</li>