<div class="sixteen columns omega fancy-gallery-filmstrip collapsed">
	<div class="gallery-plugin-container">
		<ol class="thumbs sixteen columns flex-control-nav flex-control-paging">
			{{#each gallery}}
			<li class="three columns">
				<a href="/assets/images/{{fullRes}}" target="_blank">
					<img src="/assets/images/{{thumb}}">
				</a>
			</li>
			{{/each}}
		</ol>
		<a href="#"  class="scrollThumbsBut Left"></a>
		<a href="#" class="scrollThumbsBut Right"></a>
		<div class="fancy-img sixteen columns">
			<ul class="slides">
				{{#each gallery}}
				<li>
					<a href="/assets/images/{{fullRes}}" target="_blank">
						<img src="/assets/images/{{gal}}">
					</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>