<html>
<head>
	<!-- <link rel="stylesheet" href="style.css"/> -->
	<title>cKelly Design, LLC</title>
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" href="/assets/styles/appStyles.css"/>
  

</head>
<body>

	<div id="star-paralax">
		<img id="stars" src="/assets/images/GeminiStars2.svg">
		<img id="const" src="/assets/images/Gemini.svg">
	</div>

	{{> header}}

	{{#with model.About}}
		{{> about}}
		{{> highlights}}
	{{/with}}

	{{> projects-gallery}}

	{{#with model.Contact}}
		{{> contact}}
	{{/with}}

	{{!-- <p>{{#jsonDebugger this.model}}{{/jsonDebugger}}</p> --}}
	<script type="text/javascript" src="/assets/scripts/appScripts.js"></script>
</body>
</html>