.portfolio {
  font-family: 'Lato', 'Arial';
  font-weight: 300;
}

#pitch {
  font-size: 18px;
  font-style: italic;

  @media (min-width: 800px) {
    font-size: 21px;
  }
  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

#about-me {
  .photo {
    overflow: hidden;
    line-height: 0;
    margin-bottom: 25px;
    text-align: center;
  
    img {
      border-radius: 100%;
      max-width: 100%;
      max-height: 100%;

      @media (min-width: 400px) {
        max-width: 75%;
      }
      @media (min-width: 550px) {
        max-width: 100%;
      }
      @media (min-width: 800px) {
        max-height: 400px;
      }
    }
  }
}

#dPhoto {
  display: none;

  @media (min-width: 550px) {
    display: block;
  }
}

#mPhoto {
  @media (min-width: 550px) {
    display: none;
  }
}
