.site-header {
	text-align: center;
  margin: 24px 0 6px;
  line-height: 1;
}

.sub-header {
	display: block;
  text-align: center;
  font-family: 'Lato';
  font-style: italic;
  margin-bottom: 12px;
  color: #666;
}

.social-links {
  text-align: center;
  display: block;
  margin: 24px 0;

  li {
    display: inline-block;
    margin: 0 5px;
  
    a {
      color: #333;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;

      i {
        margin-right: 5px;
      }
    }
  }
}
