
#logo-container {
	margin-top: 36px;
	a {
		max-width: 100%;
		@include breakpoint($breakpointDesktop) {
			max-width: auto;
		}
	}
	#logo-body {
		max-width: 100%;
		background: transparent left center no-repeat;
		background-image: $logoBodyBGimgMobile;
		transition: .5s;

		@include breakpoint($breakpointTablet) {
			background-image: $logoBodyBGimgTablet;
		}
		@include breakpoint($breakpointDesktop) {
			margin-left: -12px;
			width: 705px;
			height: 460px;
			max-width: auto;
			background-image: $logoBodyBGimgDesktop;
		}

		&.landed {
			height: 194px;
			@include breakpoint($breakpointTablet) {
				height: 271px;
			}
			@include breakpoint($breakpointDesktop) {
				height: 500px;
			}
		}
	}
	img {
		position: relative;
		margin-top: 72px;

		@include breakpoint($breakpointTablet) {
			position: absolute;
			bottom: 200px;
			right: 30px;
			margin-top: 0;
		}
		@include breakpoint($breakpointDesktop) {
			bottom: 250px;
			right: 60px;
		}
	}
}