#project-window-overlay {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.75);
	z-index: 100000;
	top: 0;
}

.project-window {
	z-index: 100001;
	position: fixed;
	top: 50%;
	margin-top: -255px;
	left: 50%;
	margin-left: -480px;
	background: white;

	.project-window-close-btn {
		display: block;
		background-color: white;
		height: 20px;
		width: 20px;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
	}
}

/* gallery thumbnail left/right styling */
a.scrollThumbsBut {
	height: 160px;
	width: 80px;
	position: absolute;
	/* background-color: rgba(255,0,0,.5); */
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	opacity: 0;
	transition: opacity .5s;
	-webkit-transition: opacity .5s;
	display: none;
	box-shadow: 5px 5px 0 rgba(0,0,0,.5);
	-webkit-box-shadow: 5px 5px 0 rgba(0,0,0,.5);
	
}
div.fancy-gallery-filmstrip.open a.scrollThumbsBut {
	height: 135px;
}
a.scrollThumbsBut:hover {
	opacity: 1;
}
a.scrollThumbsBut.Left {
	left: 0;
	background-image: url(../gfx/galLeft.png);
}
a.scrollThumbsBut.Right {
	right: 0;
	background-image: url(../gfx/galRight.png);
}