/* Adding Alpha / Omega column options to Skelton Framework */
.alpha.column,
.alpha.columns { margin-left: 0; clear:both; }

.omega.column,
.omega.columns { margin-right: : 0; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Arial, sans-serif;
}

/* Portfolio Styling */
body { 
	background-color: white; 
	font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
}

.site_header {
	text-align: center;
    margin: 24px 0 6px;
    line-height: 1;
}

.sub_header {
	display: block;
    text-align: center;
    font-family: 'Lato';
    font-style: italic;
    margin-bottom: 12px;
    color: #666;
}

.social_links {
    text-align: center;
    display: block;
    margin: 24px 0;
}

.social_links li {
    display: inline-block;
    margin: 0 5px;
}

.social_links li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;

    font-weight: 300;
}

.social_links li a i {
    margin-right: 5px;
}

#about_me .photo {
    border-radius: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: 25px;
}
#about_me .photo img {
    max-width: 100%;
    max-height: 100%;
}
#dPhoto { display: none; }

@media (min-width: 550px) {
    #dPhoto { display: block; }
    #mPhoto { display: none; }
}




.Gallery {
    position: relative;
    overflow-y: hidden;
    margin-bottom: 18px;
}
.Gallery.alpha {
    margin-top: 12px;
}
.galList {
    position: relative;
    display: inline-block;
    width: 10000px;
}
.galList > li {
    display: inline-block;
    margin: 0 0 0 12px;
}
.galList > li.first {
    margin-left: 0;
}
.galList > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.galList > li > a > img {
    max-width: 100%;
}






.highlight h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}

