<html>
<head>
	<!-- <link rel="stylesheet" href="style.css"/> -->
	<title>{{title}}</title>
</head>
<body>
	<h1>Hello World</h1>
	<h3>Watch and Live reload Test........</h3>
	<span>Watch works, but throws and error in the console</span>
	<p><strong>Error Details</strong><br>
		events.js:72<br>
        throw er; // Unhandled 'error' event<br>
              ^<br>
Error: listen EADDRINUSE<br>
    at errnoException (net.js:878:11)<br>
    at Server._listen2 (net.js:1016:14)<br>
    at listen (net.js:1038:10)<br>
    at Server.listen (net.js:1104:5)<br>
    at Function.app.listen (/Users/Conor/Sites/ckellydesign.net/node_modules/express/lib/application.js:555:24)<br>
    at Object.< anonymous > (/Users/Conor/Sites/ckellydesign.net/app.js:23:19)<br>
    at Module._compile (module.js:456:26)<br>
    at Object.Module._extensions..js (module.js:474:10)<br>
    at Module.load (module.js:356:32)<br>
    at Function.Module._load (module.js:312:12)</p>
</body>
</html>