<html>
<head>
	<!-- <link rel="stylesheet" href="style.css"/> -->
	<title>{{title}}</title>

    <script type="text/javascript" src="/assets/scripts/appScripts.js"></script>
</head>
<body>
	<h1>Hello World</h1>
	<h3>Watch and Live reload Test........</h3>
	<span>Watch works, but doesn't refresh in browser.</span>
    <span>Watch works, but doesn't refresh in browser.</span>
    <span>Watch works, but doesn't refresh in browser.</span>
    <span>Watch works, but doesn't refresh in browser.</span>

    <div>
    	{{!-- {{#each model.Projects}}
    		<h3>{{title}}</h3>
    	{{/each}} --}}

    </div>
	{{!-- <p>{{#jsonDebugger this}}{{/jsonDebugger}}</p> --}}
</body>
</html>